img {
  width: 100%;
}
body {
  display: flex;
  justify-content: space-around;
}
div {
  width: 18%;
  /* float: left;
  padding: 1%; */
}
div:hover {
  padding: 2%;
  margin: 0 -3% 0 -3%;
  border: 1px solid #000;
  width: 20%;
}
p {
  display: none;
}
div:hover p {
  display: inline;
}
